<mat-card style="width: 500px">
  <mat-card-header>
    Migrating
  </mat-card-header>
  <mat-card-content>
    <div class="container mt-3">
      <div class="row" *ngFor="let migrationOption of migrationOptions">
        <div *ngIf="migrationOption.isChecked">
          <fa-icon
            *ngIf="migrationOption.status==0"
            style="color: orange; font-size: 16px"
            [icon]="pending"></fa-icon>
          <div
            *ngIf="migrationOption.status==1"
            style="height: 16px; width: 16px"
            class="spinner-border"
            role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <fa-icon
            *ngIf="migrationOption.status==2"
            style="color: green; font-size: 16px"
            [icon]="completed"></fa-icon>
          <fa-icon
            *ngIf="migrationOption.status==3"
            style="color: red; font-size: 16px"
            [icon]="failed"></fa-icon>
          <span class="ml-2" style="font-size: 16px">
            {{migrationOption.label}}
          </span>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer class="justify-content-center">
    <div class="container-fluid justify-content-end pb-3" style="display: flex;">

    </div>
  </mat-card-footer>
</mat-card>
